<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="/src/publick-css/navbar.css">
    <!-- link bostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

    <header>
        <div class="title">
            <h1>Website Node Js</h1>
        </div>

        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="menu">
            <label for="menu">
                <i class="humberger bi-list"></i>
            </label>
            <input type="checkbox" id="menu" />
        </div>
    </header>
    
</body>
<script src="/js/navbar.js"></script>
</html>