@media screen and (max-width: 768px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    section .container .containerText .textTop {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        letter-spacing: 0.1rem;
    }

    section .container .imageUser{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    section .container .imageUser > img {
        border-radius: 100px;
        width: 150px;
    }

    section .container .containerText {
        width: 90%;
        margin: 50px auto;
    }

    section .btnCV {
        margin: -20px 0px 0px 20px;
    }

    section .btnCV button {
        width: 150px;
        height: 45px;
        border-radius: 10px;
        color: white;
        border-color: white;
        background-color: blue;
        border: none;
        font-family: sans-serif;
        font-weight: 700;
    }

    section .mediaSocialMe {
        margin-top: 130px;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

}