@media screen and (max-width: 768px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5%;
        background-color: black;
        color: white;
        border-radius: 40px;
        width: 90%;
        margin: 20px auto;
        z-index: 999;
        position:sticky;
        top: 0;
    }

    header .title h1{
        font-size: 30px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    header .navbar {
        position: absolute;
        top: -300px;
        left: 9%;
        transition: all 2s ease;
        z-index: 0;
        animation: slide 2s ease;
    }

    header .navbar ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: black;
        width: 300px;
        height: auto;
        padding: 30px;
        border-bottom-right-radius: 30px ;
        border-bottom-left-radius: 30px;
    }

    header .navbar ul li {
        list-style: none;
    }

    header .navbar ul li a {
        color: white;
        font-family: sans-serif;
        font-weight: 600;
        text-decoration: none;
    }

    @keyframes slide{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

}