@media screen and (max-width: 768px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 4%;
    }

    header .title h1{
        font-size: 30px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    header .navbar {
        position: absolute;
        top: 50px;
        left: -10px;
        padding: 10px;
    }

    header .navbar ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: black;
        width: 200px;
        height: auto;
        padding: 30px;
        border-bottom-right-radius: 30px ;
    }

    header .navbar ul li {
        list-style: none;
    }

    header .navbar ul li a {
        color: white;
        font-family: sans-serif;
        font-weight: 600;
        text-decoration: none;
    }

}